.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.button-container {
	display: flex;
	gap: 30px;
}

button {
	width: 150px;
	height: 40px;
	font-size: 25px;
	color: rgba(255, 255, 255, 255);
	background-color: rgba(0, 0, 0, 0);
	border-color: white;
	border-radius: 5px;
	border-style: solid;
	cursor: pointer;
}

.display-text {
	font-size: 75px;
	color: white;
	margin: 0px;
}

.sup-sub-script {
	font-size: 60%;
}

h1 {
	justify-self: top;
	color: white;
}
